


                             /* header */
                            /* END header */

                            /* Hero section */
                          /* END Hero section */
                          
                    /*section Features of the company */
         



/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
    
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  } */

              /* ENDsection Features of the company */

                   /* SECTION What we do */



                              /* team */




                          /* END team */

                   /* section Regular customers */


                  /* END section Regular customers */

                           /* Footer */


/* ЛОГОТИП ФУТЕР */



/* КОНЕЦ ЛОГОТИПА */




                           /* Footer END */


                    /* Footer Icon */

                     /* Footer Icon END */

                      /* footer-input-wrapper */


                       /* footer-input-wrapper END */
                           /* FOOTER END */


                           /* modal window */
                           /* _modal.scss */








  
                           /* modal window END */
/* .paragraph-text{
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  } */

/* .main-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
} */

                   /* card-set Portfolio */


                    /* card-set Portfolio END */



                /* КНОПКА ПОРТФОЛИО */
                /* button-title Portfolio */


                 /* button-title Portfolio END */
              
            /* footer PORTFOLIO */


            /* footer PORTFOLIO END */



/* MODAL WINDOW */



