.button__button{
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border-style: none;
    transition: color 250ms linear, background-color 250ms linear, box-shadow 250ms linear;

    &:hover,
    &:focus{
    background-color: var(--accent-color);
    color: var(--page-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
  
  
  .button__list{
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width: 768px) {
      
    justify-content: center;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin: 0 0 50px 0;
    }
  }
  
  .button__title:not(:last-child){
    margin-right: 8px;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      
    }
  }
  
  