.footer-container{

  @media screen and (min-width:768px){
    text-align: center;

  }
}

.page-footer{
    background: var(--background-color);
    padding: 60px 15px;
    margin-bottom: 0;
    }
    
    .general-container{
     
      @media screen and (min-width:768px){
        display: flex;
        align-items: baseline;
        
      }
    }

    .logo-footer{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
        margin-bottom: 20px;
        display: inline-block;
      }
      
      .white-logo{
        color: var(--page-color);
      }

      .address{
        font-style: normal;
       }     
      
       .list-item-list:not(:last-child){
        margin-bottom: 9px;
      }
      
      .address-link{
        font-size: 14px;
        line-height: 1.71;
        color: var(--page-color);    
        transition: color 250ms linear ;
        
      &:hover,
      &:focus{
        color: var(--accent-color);
      }
}
      
      
      .social-links-footer{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition:  color 250ms linear;

      &:hover,
      &:focus{
        color: var(--accent-color);
      }
}
      
      

      .social-footer-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms linear;

      &:hover ,
      &:focus {
        background-color: var(--accent-color);
      }
      }
      
      .social-foorer-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--page-color);
        margin-bottom: 20px;
      }
      
      .social-foorer-list{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        
      }
      
      
      
      .footer-icon{
        fill: var(--page-color);
      }

      .footer-input-wrapper{
        display: block;
        margin-left: 93px;
      }
      
      .form-text{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--page-color);
      }
      
      .contact-form-input-footer{
        width: 358px;
        padding: 15px;
        background-color: var(--background-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: var(--page-color);
      }
      
      .footer-form-button{
        min-width: 200px;
        margin-left: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;  
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--page-color);
        padding: 10px 29px;
        border: none;
        cursor: pointer;
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: inline-flex;
        transition: background-color 250ms linear;
       
        
      &:hover,
      &:focus{
        background-color: #188CE8;
      }
}
      
      .icon-footer-send{
        margin-left: 10px;
      }