 .navigation__logo, .navigation__black-logo{
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.20;
     color: var(--accent-color);

    //  @media screen and (min-width: 1200px) {
    //   font-size: 26px;
    //   line-height: 1.19;
    // }
  }
  
   .navigation__black-logo{
       color: var(--logo-text) ;   
   }
   .white-logo{
       color: var(--page-color);
   }
  
   .header__container {

       display: flex;
       align-items: center;
       justify-content: space-between;
    
     }
  
   .navigation {
     display: flex;
       align-items: center;
     }
  


.menu{  
  display: none;
  @media screen and (min-width: 768px) {
    
    display: flex;
    margin-left: 88px;
  } 

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  .menu__item:not(:last-child){
    margin-right: 50px;    
    }
}

.header {
    
  border-bottom: 1px solid #ECECEC;
    @media screen and (max-width: 767px) {
      padding-top: 10px;
      padding-bottom: 10px;
      
      }
    }
  
   .menu__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);  
    transition: color 250ms linear ;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

     &:hover,
     &:focus{
     color: var(--accent-color);
     }
 }
  
  
  
   .current{
     color: var(--accent-color);
     position: relative;

     &::after{
       content: '';
       position: absolute;
       display: block;
       width: 100%;
       height: 4px;
       margin-top: 28px;
       border-radius: 4px;
       background: var(--accent-color);
     }
   }
  
   .contacts{
    display: none;
  
    @media screen and (min-width: 768px){
      display: unset;
      margin-left: auto;
    
    }
    @media screen and (min-width: 1200px){
      display: flex;
      align-items: center;
    }
   }
  
   .contacts__item:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
      margin-top: 0;
    }
  }

   .contacts__link{
    

     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--text-color);
     align-items: center;
     display: inline-flex; 
     
     transition: color 250ms linear;
    
     &:hover,
     &:focus{
     color: var(--accent-color);
     }
   } 
  
   .contacts__icon{
     margin-right: 10px;
     fill: var(--text-color);
     transition: fill 250ms linear;

   .contacts__link:hover &,
   .contacts__link:focus &{
     fill: var(--accent-color);
   }
     }
  