.portfolio__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  
  .portfolio__label{
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
  }
  
  .portfolio__content{
    padding: 20px 24px;
    border-left: 1px solid  var(--lines-for-frame)  ;
    border-bottom: 1px solid var(--lines-for-frame)  ;
    border-right: 1px solid  var(--lines-for-frame) ;
  }             
                
  .portfolio__list{
    
    
    @media screen and (min-width: 768px){
      margin-left: calc(-1 * 30px);
      margin-top: calc(-1 * 30px);
    display: flex;
    flex-wrap: wrap;
    // margin-left: -30px;
    
    
      
  }
}
   
    // margin-left: calc(-1 * 30px);
    // margin-top: calc(-1 * 30px);
    
    
  
  
  .portfolio__card{
    
    @media screen and (min-width: 768px){
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
      
    }
    @media screen and (min-width: 1200px){

    flex-basis: calc(100% / 3 - 30px);
    }
  }
  
  .portfolio__link-img{
    display: block;

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__text{
  font-size: 18px;
  line-height: 1.55;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--page-color);
  padding: 63px 24px;
  background-color:rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms linear, opacity 250ms linear;

  .portfolio__link-img:hover &,
  .portfolio__link-img:focus &{
    opacity: 1;
    transform: translateY(0%);
  }
}
  
  
  .portfolio__description{
    position: relative;
    overflow: hidden;
  }