.contact-form{
    display: flex;
    flex-direction: column;
  }
  
  
  
  
  
  
  
  .madal-form-message{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    padding: 12px 16px;

    &:focus{
      border-color: var(--accent-color);
      outline: none;
    }

    &::placeholder{
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  
  
  
  .modal-form-policy-link{
    text-decoration-line: underline;
    color: var(--accent-color);
    
  }
  
  .modal-form-btn{ 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--page-color);
    display: block;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition: background-color 250ms linear, box-shadow 250ms linear, border-radius 250ms linear;

    &:hover,
    &:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    } 
}
  
  