.icone-btn{
  fill: var(--logo-text);

  .modal-close-btn:hover &,
  .modal-close-btn:focus &{
  fill: var(--accent-color);
  }
}





.form-ladel{
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form-input-wrapper{
  position: relative;
  display: block;
  margin-top: 4px;
}

.svg-form{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;

  .contact-form-input:focus + &{
    fill: var(--accent-color);
  }
}

.contact-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  &:focus{
    border-color: var(--accent-color);
    outline: none;
  }
}


.modal-form-checkbox-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // position: relative;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color);
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-checkbox {
  appearance: none;
  
}



.visually-hidden-checkbox{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  top: 19px;
  left: 8px;
}

.icon-chack{
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
  background-position:50% 50% ;  

    .modal-form-checkbox:focus + & {
    outline: auto var(--accent-color);
  }

  .modal-form-checkbox:checked + & {
    background-color: var(--accent-color);
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-color: var(--accent-color);
    border-radius: 2px;
   
  }
}


  .contact-form{
    display: flex;
    flex-direction: column;
  }
  
  
  
  .madal-form-message::placeholder{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  
  
  .madal-form-message{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    padding: 12px 16px;

    &:focus{
      border-color: var(--accent-color);
      outline: none;
    }

    &::placeholder{
      color: rgba(117, 117, 117, 0.5);
    }
  }
  
  
  
  .modal-form-policy-link{
    text-decoration-line: underline;
    color: var(--accent-color);
    
  }
  
  .modal-form-btn{ 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--page-color);
    display: block;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition: background-color 250ms linear, box-shadow 250ms linear, border-radius 250ms linear;

  &:hover,
  &:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
